<div class="container">
  <a routerLink="/home" class="back">
    back
  </a>
  <h2>moulon</h2>
  <div class="moulon"></div>
  <div class="row">
    <div class="col1">
      <div class="lorem">
        <h4>Horaire</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut velit tristique, suscipit turpis in, dapibus
          nisl. In vulputate tempus eros non rhoncus. Vivamus commodo tincidunt venenatis. In hac habitasse platea
          dictumst.
          Nunc a rutrum nunc, ac ullamcorper eros. Quisque dignissim tortor eu erat fermentum malesuada. Mauris pharetra
          eros elit, sit amet dignissim ex accumsan non. Phasellus tincidunt diam ut nisi sodales, iaculis vestibulum
          lorem
          rhoncus. Nullam nec justo et urna mattis semper eget in ipsum. Maecenas tempus nibh eget tellus venenatis,
          efficitur accumsan massa fermentum. Cras tincidunt ut urna ac lacinia. Pellentesque volutpat molestie
          condimentum.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        </p>
        <h4>Sport pratiqué</h4>
        <p>
          Donec tempor lectus lacinia turpis gravida pulvinar. Donec id lacinia lorem, eu ultricies lorem. Proin auctor
          mollis risus, ac dapibus sapien laoreet et. Nulla sed efficitur enim. Vestibulum et magna posuere, porttitor
          nibh
          non, faucibus erat. Quisque auctor tincidunt purus, et condimentum nunc ultrices quis. Sed aliquet finibus
          lorem
          ac pharetra. Nunc non elit ac est convallis interdum eu in arcu. In hac habitasse platea dictumst. Nam cursus
          sed
          mauris ut sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Etiam
          nulla nunc, tincidunt sed accumsan nec, pretium nec est. Donec mi nibh, fringilla at tortor vel, fermentum
          pharetra dolor. Phasellus ac commodo sem. Praesent blandit diam eget augue maximus accumsan.
        </p>
        <h4>Reservation</h4>
        <p>
          Sed euismod efficitur nisl at semper. Etiam nisi risus, euismod sed neque maximus, elementum euismod erat.
          Maecenas dictum suscipit mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nulla finibus
          eros
          condimentum sodales in ultrices neque. Quisque varius quam nec lacus porta pellentesque. Nulla congue lectus
          sed
          odio fringilla, id vehicula elit iaculis. Vestibulum sagittis bibendum egestas. Etiam tempor elementum
          vehicula.
          Vivamus maximus, metus a commodo ultrices, nunc justo posuere lectus, sed venenatis odio libero eget est. Cras
          egestas est nec ex tempor, quis lacinia lacus tempus. Nullam elementum luctus leo. Pellentesque tempor risus
          ut
          enim consequat, id sagittis nisi sollicitudin.
        </p>
      </div>
    </div>
    <div class="col2">
      <div class="geoposition"></div>
      <p class="peop">
        Vous avez <strong>5 amis</strong> inscrit régulièrement
      </p>
      <p class="event">
        Prochain évenement le <strong>13/03/2019</strong>
      </p>
    </div>
  </div>
</div>
