<div class="container">
  <input type="text" value="Moulon" class="mat-elevation-z1">
  <h2>> People</h2>
  <div class="peop">
    <div class="people mat-elevation-z1 loic"></div>
    <div class="people mat-elevation-z1 jon"></div>
    <div class="people mat-elevation-z1 samuel"></div>
  </div>
  <h2>> Infrastructures</h2>
  <div class="infra">
    <div class="card mat-elevation-z1" (click)="redirect()">
      <div class="img moulon"></div>
      <div class="text">Moulons</div>
      <div class="text">Saclay</div>
    </div>
  </div>
</div>
